@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    VLADIMIR KATKOV<br />
    Tomsk, Russia Federation<br />
    <abbr title="Phone">P:</abbr>
    892342478**
</address>

<address>
    <strong>Support:</strong> <a href="mailto:katk0v_support@gmail.com">katk0v_support@gmail.com</a><br />
</address>
